<?xml version="1.0" encoding="utf-8"?>
<Configuration  status="warn" name="splunk-cloudhub" packages="com.splunk.logging,com.mulesoft.ch.logging.appender">

   <Properties>
   		<Property name="target.env">${sys:env}</Property>
   	    <Property name="target.app">${project.artifactId}</Property>	
        <Property name="dev.splunk.host">http-inputs-eastwestbank.splunkcloud.com</Property>
        <Property name="dev.splunk.token">09F93561-3C59-45C3-BE1F-BD91808A7DD4</Property>
        <!-- prod splunk instance -->
        <Property name="prd.splunk.host">http-inputs-eastwestbank.splunkcloud.com</Property>
        <Property name="prd.splunk.token">234AADC9-D7A7-4FC7-BF7C-B5DD887BA279</Property>
    </Properties>
    <Appenders>

        <RollingFile name="file" fileName="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}${project.artifactId}.log" 
                 filePattern="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}${project.artifactId}%i.log">
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n" />
            <SizeBasedTriggeringPolicy size="10 MB" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <Log4J2CloudhubLogAppender name="CLOUDHUB"
                                   addressProvider="com.mulesoft.ch.logging.DefaultAggregatorAddressProvider"
                                   applicationContext="com.mulesoft.ch.logging.DefaultApplicationContext"
                                   appendRetryIntervalMs="${sys:logging.appendRetryInterval}"
                                   appendMaxAttempts="${sys:logging.appendMaxAttempts}"
                                   batchSendIntervalMs="${sys:logging.batchSendInterval}"
                                   batchMaxRecords="${sys:logging.batchMaxRecords}"
                                   memBufferMaxSize="${sys:logging.memBufferMaxSize}"
                                   journalMaxWriteBatchSize="${sys:logging.journalMaxBatchSize}"
                                   journalMaxFileSize="${sys:logging.journalMaxFileSize}"
                                   clientMaxPacketSize="${sys:logging.clientMaxPacketSize}"
                                   clientConnectTimeoutMs="${sys:logging.clientConnectTimeout}"
                                   clientSocketTimeoutMs="${sys:logging.clientSocketTimeout}"
                                   serverAddressPollIntervalMs="${sys:logging.serverAddressPollInterval}"
                                   serverHeartbeatSendIntervalMs="${sys:logging.serverHeartbeatSendIntervalMs}"
                                   statisticsPrintIntervalMs="${sys:logging.statisticsPrintIntervalMs}">

            <PatternLayout pattern="[%d{MM-dd HH:mm:ss}] %-5p %c{1} [%t]: %m%n"/>
        </Log4J2CloudhubLogAppender>
 
        <ScriptAppenderSelector name="SelectSplunkInstance">
		      <Script language="JavaScript"><![CDATA[
		         "${target.env}".search("prd") > -1 ? "SplunkPrdAppender" : "SplunkDevAppender";]]>
		      </Script>
		      <AppenderSet>
		         <HttpSplunk name="SplunkDevAppender"
		              url="https://${dev.splunk.host}"
		              token="${dev.splunk.token}"
		              host=""
		              index="veloapp"
		              source="${target.app}-${target.env}"
		              sourcetype="veloprivateapi"
		              messageFormat="json"
		              middleware=""
		              send_mode="sequential"
		              batch_size_bytes="0"
		              batch_size_count="0"
		              batch_interval="0"
		              disableCertificateValidation="true">
		            <PatternLayout pattern="%m"/>
		        </HttpSplunk>
		        
		        <HttpSplunk name="SplunkPrdAppender"
		              url="https://${prd.splunk.host}"
		              token="${prd.splunk.token}"
		              host=""
		              index="velobank"
		              source="${target.app}-${target.env}"
		              sourcetype="veloprivateapi"
		              messageFormat="json"
		              middleware=""
		              send_mode="sequential"
		              batch_size_bytes="0"
		              batch_size_count="0"
		              batch_interval="0"
		              disableCertificateValidation="true">
		            <PatternLayout pattern="%m"/>
		        </HttpSplunk>
		      </AppenderSet>
    		</ScriptAppenderSelector>
    		       
    </Appenders>
    <Loggers>
        <!-- Http Logger shows wire traffic on DEBUG. -->
        <!--AsyncLogger name="org.mule.service.http.impl.service.HttpMessageLogger" level="DEBUG" /-->
        <AsyncLogger name="org.mule.service.http" level="WARN"/>
        <AsyncLogger name="org.mule.extension.http" level="WARN"/>
        <AsyncLogger name="org.mule.extension.jsonlogger.JsonLogger" level="DEBUG"/>
     
        <AsyncLogger name="org.mule" level="INFO"/>
        <AsyncLogger name="com.mulesoft" level="INFO"/>
        
        <AsyncLogger name="applicationDebug" level="OFF"/>
        <AsyncLogger name="applicationInfo" level="INFO"/>        

		<AsyncLogger name="org.apache.cxf" level="INFO" />
		<AsyncLogger name="com.ning" level="INFO" />
		<AsyncLogger name="org.glassfish.grizzly" level="INFO" />
        
        <AsyncRoot level="INFO"> 
            		<AppenderRef ref="file" />           
			<AppenderRef ref="CLOUDHUB"/>
			<AppenderRef ref="SelectSplunkInstance"/>

        </AsyncRoot>

    
    </Loggers>
</Configuration>

